[Desktop Entry]
Version=1.0
Name=ABET Core
Comment=ABET P2P Cryptocurrency
Comment[fr]=ABET, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ABET, eşten eşe kriptografik sanal para birimi
Exec=abet-qt %u
Terminal=false
Type=Application
Icon=abet128
MimeType=x-scheme-handler/abet;
Categories=Office;Finance;
StartupWMClass=Abet-qt
